{% if content.t == "r" %}
    <div class="row">
        {% for ch in content.ch %}
            {% with content=ch template_name="teach/contentrender.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </div>
{% elif content.t == "c" %}
    <div class="col-{{content.w}}">
        {% for ch in content.ch %}
            {% with content=ch template_name="teach/contentrender.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </div>
{% elif content.t == "n" %}
    <div style="{{content.s}}">
        {% if content.m.print_title %}
            <h4>{{ content.m.content.title }}</h4>
        {% endif %}
        <p data-markdown>
            {% if content.m.animate %}
{{ content.m.content.text }}
            {% else %}
{{ content.m.content.remove_animation }}
            {% endif %}
        </p>
    </div>
{% endif %}
