{% extends 'teach_base.html' %}

{% block title %}{{ course_name }}{% endblock %}

{% block head %}

<style>
.navbar-header {
    float: left;
    padding: 0px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.courseblock {
    padding:15px;
}
</style>


{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'teach:home' %}">Courses</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-header">
        <h2 class="navbar-brand"> {{ course_name }} </h2>
      </div>
    </nav>

<div class="container d-flex align-items-center h-100">
    <div class="row w-100">
        {% if course_structure %}
        <div class="col-6 courseblock">
            <h2>Lectures</h2>
            {% for cs in course_structure %}
                <div class="row">
                    <div class="col-12">
                        <h4> {{forloop.counter}}. - <a href="{% url 'teach:slideshow' cs.lecture.id %}">{{cs.lecture.title}}</a></h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if quizes %}
        <div class="col-6 courseblock">
            <h2>Quizes</h2>
            {% for quiz in quizes %}
                <div class="row">
                    <div class="col-12">
                        <h4> {{forloop.counter}}. - <a href="{% url 'teach:quiz' quiz.id %}">{{quiz.name}}</a></h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if to_include %}
        <div class="col-6 courseblock">
            <h2>Contents</h2>
            {% for type_name in to_include %}
                <div class="row">
                    <div class="col-12">
                        <h4> {{forloop.counter}}. - <a href="{% url 'teach:contentshow' course_id type_name %}">{{type_name}}s</a></h4>
                    </div>
                </div>
            {% endfor %}            
        </div>
        {% endif %}
        {% if topics %}
        <div class="col-6 courseblock">
            <h2>Topics</h2>
            {% for topic in topics %}
                <div class="row">
                    <div class="col-12">
                        <h4> {{forloop.counter}}. - <a href="{% url 'teach:topicshow' topic.id %}">{{topic.name}}</a></h4>
                    </div>
                </div>
            {% endfor %}            
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}