{% if content.t == "r" %}
    <div class="row">
        {% for ch in content.ch %}
            {% with content=ch template_name="teach/slidestructurerender.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </div>
{% elif content.t == "c" %}
    <div class="col-{{content.w}}">
        {% for ch in content.ch %}
            {% with content=ch template_name="teach/slidestructurerender.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </div>
{% elif content.t == "n" %}
    <div style="{{content.m.css_style}}" {% if content.m.fragment_no > 0 %} class="fragment" data-fragment-index="{{ content.m.fragment_no }}" {% endif %}>
        {% if content.m.print_title %}
            <h4>{{ content.m.content.title }}</h4>
        {% endif %}
        {% with ss=content.m content=content.m.content template_name="teach/contentrender.html" %}
{% include template_name %}
        {% endwith %}
    </div>
{% endif %}
