{% extends 'teach/reveal_base.html' %}

{% block title %}{{ lecture_title }} {% endblock %}

{% block slides %}
{% for structure in structures %}
  {% if structure.multislide %}
      <section>
      {% for slide in structure.slides %}
          <section>
              {% if slide.hastitle %}
                  <h3> {{ slide.title }} </h3>
              {% endif %}
              <div class="container">
                  {% for content in slide.render %}
                      {%include "teach/contentrender.html" %}
                  {% endfor %}
              </div>
          </section>
      {% endfor %}
      </section>
  {% else %}
      <section>
          {% if structure.slide.hastitle %}
              <h3> {{ structure.slide.title }} </h3>
          {% endif %}
          <div class="container">
              {% for content in structure.slide.render %}
                  {%include "teach/contentrender.html" %}
              {% endfor %}
          </div>
      </section>
  {% endif %}
{% endfor %}
{% endblock %}