{% extends 'teach/reveal_base.html' %}

{% block title %}{{ slideshow_title }}{% endblock %}

{% block slides %}
    {% if title_slide %}
        <section>
            <h2>{{ slideshow_title }}</h2>
        </section>
    {% endif %}

    {% for element in slideshow_elements %}
      {% if element.multislide %}
          <section>
      {% endif %}

      {% for slide in element.subslides %}
          <section>
              {% if slide.hastitle %}
                  <h4> {{ slide.title }} </h4>
              {% endif %}
              <div class="container">
                  {% for layout_tree in slide.render %}
                      {% include "teach/layout_tree_render.html" %}
                  {% endfor %}
              </div>
          </section>
      {% endfor %}

      {% if element.multislide %}
          </section>
      {% endif %}
    {% endfor %}
{% endblock %}