{% extends 'base.html' %}

{% block title %}{{ tasklist_name }} - Submission{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{ tasklist_name }} - {{subid}} - Submission</h2>
            <ul>
            {% for stat in quizstats %}
                <li> {{ stat }}  </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Answers</h2>
            {% for ans in answers %}
                <div class="row">
                    <div class="col-12">
                        <h3> {{forloop.counter}}. </h3>
                         <h4>{{ ans.task.name }}</h4>
                         <p><b>text:</b> {{ans.task.text}}</p>
                         <p><b>explanation:</b> {{ans.task.explanation}}</p>
                         <p><b>your answer:</b> {{ans.answertext}}</p>
                         <p><b>score:</b> {{ans.score}}</p>
                         <p><b>correct answer:</b> {{ans.task.eval_detail}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}