{% extends 'base.html' %}

{% block title %}{{ tasklist_name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{ tasklist_name }}</h2>
            {% with content=quizstats template_name="teach/quizes/quizstats.html" %}
                {% include template_name %}
            {% endwith %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 m-3">
            <h2>Tasks</h2>
            <form method ="post">{% csrf_token %}
            {% for taskform in taskforms %}
                <div class="row border border-primary p-5 m-2">
                    <div class="col-12">
                        <h3 class="text-center"> {{forloop.counter}}. </h3>
                         {% for q in taskform %}
                            {% if q.label != "Id" and q.label != "Task" %}
                                <!--h4>{{q.label}}</h4-->
                                <p>{{ q.help_text }}</p>
                            {% endif %}
                            {{ q }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {{ taskforms.management_form }}
            <input type="hidden" id="subid" name="subid" value="{{ subid }}">
            <div class="text-center"><input type="submit" value="Submit"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}